fastapi
uvicorn[standard]
python-dotenv
pydantic
python-multipart
motor
bcrypt
email-validator
passlib[argon2]
python-jose[cryptography]

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2